## Statistical Analysis of Seattle Wage Data 2018 
Julia Beitel - Big Data - August 27, 2018

### Abstract 
In this first lab, I will be analyizing the City of Seattle 2018 hourly wage data. Within my analysis, I will be answering the following questions that the data posed: What is the the highest hourly salary? What is the smallest? What is the overall average salary? How many employees does the city of seattle employ?

### Dataset Preparation
The given data represents the following columns: employee first and last name, hourly salary, department, and job title. This data was uploaded on July 30th of 2018 from the following source: https://data.seattle.gov/City-Business/City-of-Seattle-Wage-Data/2khk-5ukd

To prepare our data for analysis, we...

In [7]:
#first i opened the file
data_file = open("City_of_Seattle_Wage_Data_Clean.csv", "r");

#then i created an empty list to store the wage data
wage_data = [];

#then i put all columns from the wage data file into our list
for ii in data_file:
    wage_data.append(ii);
    
#then i closed the file
data_file.close();

Next, I cleaned up all the unecessary commas in our data and split the data into the following five lists: first name, last name, hourly wage, job department, and job title...

In [8]:
#here i removed the first element (this is the column header)
del wage_data[0];

#then i createed empty lists for each of the different corresponding columns
department = [];
last_name = [];
first_name = [];
job_title = [];
hourly_rate = [];

for jj in range(len(wage_data)):
    #next i (using a for loop and the .split fxn) split each of the data units using commas to separate them
    wage_data[jj] = wage_data[jj].split(",")
    
    #then i added the data to each specific list for it's corresponding column
    department.append(str(wage_data[jj][0]))
    last_name.append(str(wage_data[jj][1]))
    first_name.append(str(wage_data[jj][2]))
    job_title.append(str(wage_data[jj][3]))
    hourly_rate.append(float(wage_data[jj][4]))
    
print(department[:10])
print(last_name[:10])
print(first_name[:10])
print(job_title[:10])
print(hourly_rate[:10])

['Finance & Admin Services Dept', 'Finance & Admin Services Dept', 'Finance & Admin Services Dept', 'Finance & Admin Services Dept', 'Finance & Admin Services Dept', 'Finance & Admin Services Dept', 'Finance & Admin Services Dept', 'Finance & Admin Services Dept', 'Finance & Admin Services Dept', 'Finance & Admin Services Dept']
['Kennedy', 'Johnson', 'Johnson', 'Mustello', 'Kin', 'Adams', 'Lindeberg', 'Wilson', 'Hubbard', 'Evans']
['Leslie', 'Christina', 'Michael', 'Michael', 'Sokleng', 'Roger', 'Linda', 'Edna', 'Michael', 'Lisa']
['StratAdvsr2 General Govt', 'StratAdvsr2 General Govt', 'StratAdvsr2 General Govt', 'Cust Svc Rep', 'Cust Svc Rep Sr', 'Cust Svc Rep Supv', 'Cust Svc Rep', 'Cust Svc Rep', 'Cust Svc Rep', 'Animal Contrl Ofcr I']
[53.79, 51.574, 54.84, 25.54, 27.49, 33.86, 26.45, 27.49, 24.55, 26.06]

Then, I sorted the wage data set into a descending order to clean up the numbers...

In [9]:
# i used the .sort method to rearrange the existing list into a sorted order
hourly_rate.sort();  

print(hourly_rate[:10])

[5.53, 5.53, 5.53, 5.53, 5.53, 5.53, 15.45, 15.45, 15.45, 15.45]

### Data Modeling

Next, I found the average, min, and max salaries, in order to answer the main questions of this lab...

In [10]:
#here i used the min() fxn to find the min overall salary
min_overall_salary = min(hourly_rate)
print("Min salary:", min_overall_salary)

#here i used the max() fxn to find the max overall salary
max_overall_salary = max(hourly_rate)
print("Max salary:", max_overall_salary)

#next i used the len() fxn to count the total amount of employees
#then i used the sum() fxn to find the total amount of money used for salaries
#then i divided the total by the number of city employees to find the average overall salary
count = len(hourly_rate)
total = sum(hourly_rate)
mean=total/count
print("Mean salary:", mean)

Min salary: 5.53
Max salary: 137.788
Mean salary: 39.585019730942065

Next, I found the total number of Seattle city employees...

In [11]:
print("There are", len(first_name), "Seattle city employees.")

There are 12934 Seattle city employees.

### Data Analysis and Conclusion
A conclusion I can draw from my data analysis is that there is a big difference between the largest and smallest salaries. There is about a 132 dollar difference between the min and max salary. The reasoning behind this could be due to many of the following factors: the level of the job, number of hours worked, and the type of job. This data raises many questions. Some of them being: Is there a minimum wage for high school interns? Is there a minimum wage for those who work part time compared to those who work full time?

The data also posed questions towards the validity and legitamacy of the data collection. Some being: Are there any flaws in the data? Have any salaries changed since the data was updated last? Are the uploaded salaries pre-tax collection or post-tax collection? It would be interesting to dive deeper into this data set, since it is relevant to our environment as we are living in/near Seattle.

### Acknowledgements
I recieved help from Lillian Ellis, who guided me through the language of markdown and getting back into Python coding. I also used sample code for my data preparation and analysis from Ms.Sconyers's Python intro document on jupyter notebooks. Again, I recieved my  Seattle Wage Data from the following source: https://data.seattle.gov/City-Business/City-of-Seattle-Wage-Data/2khk-5ukd